@page "/TodoTaskList"
@using MultiPlanner.WebApp.Data;
@using MultiPlanner.WebApp.Services;

@code {
    [Inject]
    private ITodoTaskListService _service { get; set; } = default!;

    private IEnumerable<TodoTaskOnList> Todos = Array.Empty<TodoTaskOnList>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var guid = Guid.Parse("00000000-0000-0000-0000-000000000000");
        Todos = _service.GetTodoTaskList(guid);
    }
}

<PageTitle>TodoTaskList</PageTitle>

<h3>TodoTaskList</h3>

<table class="table mb-4">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">ShortDescription</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (TodoTaskOnList todo in Todos)
    {
        <tr>
            <th scope="row">@todo.TodoTaskId</th>
            <td>@todo.Title</td>
            <td>@todo.ShortDescription</td>
            <td>@todo.Status</td>
            <td>
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="submit" class="btn btn-success ms-1">Finished</button>
            </td>
        </tr>
    }
    </tbody>
</table>
