@model HomeViewModel

@{
    ViewData["Title"] = "Multi Planner";
}

@if(Model.isLoggedIn)
{
<div class="card-group d-flex justify-content-center">
    <div class="card text-white bg-success m-1" style="max-width: 18rem;">
        <div class="card-body text-center">
            <h3 class="card-title">Succeded Tasks:</h3>
            <p class="card-text" style="font-size: 5em;">@Model.numberOfSuccededTasks</p>
        </div>
    </div>

    <div class="card text-white bg-primary m-1" style="max-width: 18rem;">
        <div class="card-body text-center">
            <h3 class="card-title">Open Tasks:</h3>
            <p class="card-text" style="font-size: 5em;">@Model.numberOfOpenTasks</p>
        </div>
    </div>
</div>
}
